{% extends 'base_accounts.html' %}

{% block title %}
    {% if validlink %}
        {{ block.super }} | 忘记密码 {{ form.user.username }}
    {% else %}
        {{ block.super }} | 忘记密码
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    {% if validlink %}
                        <h3 class="card-title">忘记密码 @{{ form.user.username }}</h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-success btn-block">密码重置</button>
                        </form>
                    {% else %}
                        <h3 class="card-title">忘记密码</h3>
                        <div class="alert alert-danger" role="alert">链接无效，无法重置，请重试。</div>
                        <a href = "{% url 'password_reset' %}" class="btn btn-secondary btn-block">重新发送重置链接</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}